*{
    padding: 0;
    margin: 0;
}

  body{
      font-family: tahoma;
      direction: rtl;
      background: #506869;
  }
  
.container {
    padding-right: 15px;
    padding-left: 15px;
  }
@media screen and (max-width:1400px){
  .container {
    max-width:1320px
  }
}  


.content {
  height: 200vh;
  margin-top: 50px;
}
.content img {
  width: 100%;
  height: auto;
}
span {
  height: 300px;
  display: block;
  width: 100%;
  background-color: #506869;
  transform: skewY(10deg);
  transform-origin: top right;
  margin-top: -10px;
}